<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="word">Login</h1>
        </header>

        <main class="border">
            <form action="/login" method="POST">
                <div class="msg">{{msg}}</div>

                <div class="input-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox" required>
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Enter your password" class="textbox" required>

                </div>

                <button type="submit" class="btn">Sign In</button>
            </form>

            <p class="bottom">Dont have an account? <a class="bottom" href="/register">Sign up here</a></p>
        </main>
    </div>
</body>
</html>